body {
    font-family: sans-serif;
    
}

/* .navigation { 
    position: sticky;           hat nicht funktioniert warum auch immer Q.Q
    position: -webkit-sticky;
    top: 0;
    right: 0; 
   
}*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: sans-serif;
    color: white;
    background: cornflowerblue;
}
