body {
    width: 800px;
    margin: auto;
    font-family: sans-serif;
    background-image: url("bg.png");
}

h1, h2 {
    font-size: 2.5em;
    text-align: center;
    color:cornflowerblue;
}

/* span { 
    background-color:cornflowerblue;
    text-decoration: none;  
}*/

strong {
    color: white;
    background-color: rgba(56, 113, 219, 0.863);
    text-decoration-line: none;
    font-size: 1.5em;
}

strong:hover {    
   color: skyblue;
} 

.activetitle {
    background-color: rgba(56, 113, 219, 0.863);
    text-decoration: none;
}

#othertitle a:hover {
    color: slateblue;
    text-decoration: none;
}
/* dadurch werden die andere Bereiche gehovert */

.normaltitle {
     text-decoration: none;
     font-size: 1.5em;
}
 /* macht die Unterlinien weg */

.navigation {
    position: sticky;
    top: 0;
    right: 0;   
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: cornflowerblue;
    border: 1px solid cadetblue;
}
/* sorgt dafür, dass es rechts ist */

.fa {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 2px 10px;
    width: 15px;
    text-decoration: none;
    margin: 0px 2px;
}
.fa:hover {
    color:black;
    opacity: 0.7;
  }
.fa-facebook {
    background: rgb(52, 52, 172);
    color:white;
    text-align: center;
  }

.fa-twitter {
    background: white;
    color: black;
    margin: 1px 50px;
}

.fa-instagram {
    background:lightcoral;
    color: black;
    margin: 0px 100px;
}

/* Steckbrief-Seite */
.picture {
    border-radius: 10%;
    border: 1px solid gray;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.unipicture{
    border: 1px solid cadetblue;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.university {
    color:cadetblue;
    font-size: 1.3em;
}

div {
    width: 750px;
    padding: 20px 10px 20px 20px;
    margin: 20px 20px 20px 10px;
    border: 2px solid cadetblue;
}

/* Portfolio-Seite */
.colorportfolio {
    color:cornflowerblue;
}


/* Kontakt-Seite */
table, td, tr {
    width: 50%;
    border-collapse: collapse;
    border: 2px solid rgb(71, 118, 206);
    text-decoration: none;

}

input {
    /* background-color:rgb(127, 157, 214); */
    width: 400px;
    padding: 10px 20px 10px 10px;
    border: 2px solid cornflowerblue;
    /* margin: top right bottom left  */
    /* Vorname, Nachname, E-mail */
}

.message {
    /* background-color:rgb(127, 157, 214); */
    width: 550px;
    padding: 10px 10px 50px 10px;
    border: 2px solid cornflowerblue;
}

.text {
    color:gray;
}