body {
    width: 800px;
    margin: auto;
    font-family: sans-serif;
    background-image: url("bg.png");

}

.container{
    display: flex;
    flex-flow: column wrap;
}

@media screen and (max-width: 600px) {
    body{
        width:100%;
        margin:auto;
    }
}

main {
    background-color:rgb(157, 197, 211); 
    color:white;
}

h1, h2 {
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.links {
    color: cornflowerblue;
}

strong {
    color: white;
    background-color: lightblue;
    text-decoration-line: none;
    font-size: 1.5em;
}

strong:hover {    
   color: skyblue;
} 

.activetitle {
    background-color: lightblue;
    text-decoration: none;
    padding-right: 15px;
}

#othertitle a:hover {
    color: slateblue;
    text-decoration: none;
}
/* dadurch werden die andere Bereiche gehovert */

.normaltitle {
     text-decoration: none;
     font-size: 1.5em;
     padding-right: 15px;
}
 /* macht die Unterlinien weg */

 

.navigation {
    position: sticky;
    top: 0;
    right: 0;   
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: lightblue;
    border: 1px solid cadetblue;
}
/* sorgt dafür, dass es rechts ist */

.fa {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 10px 3px 10px;
    width: 15px;
    text-decoration: none;
    margin: 0px 2px;
}
.fa:hover {
    color:black;
    opacity: 0.7;
  }
.fa-facebook {
    background: transparent;
    color: black;
    text-align: center;
    font-size: 18px;
  }

.fa-twitter {
    background: transparent;
    color: black;
    margin: 1px 50px;
    font-size: 18px;
}

.fa-pinterest {
    background:transparent;
    color: black;
    margin: 0px 100px;
    font-size: 18px;
}

/* Steckbrief-Seite */
img+p{
    text-align: center;
    background-color:skyblue;
}

.picture {
    border-radius: 10%;
    border: 1px solid gray;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.unipicture{
    border: 1px solid white;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.university {
    color: white;
    font-size: 1.3em;
    text-align: center;
}

div {
    width: 750px;
    padding: 20px 10px 20px 20px;
    margin: 10px 20px 20px 10px;
    border: 1px solid transparent;
    
}

.animepicandtext {
    padding-left: 12px;
}

#cat {
    padding-left: 15;
}

/* Portfolio-Seite */
div h1{
    color: white;
    font-size: 3em;
}

a[href="https://www.bensound.com/royalty-free-music/track/cute"]{
    color: red;
}
a[href="https://www.bensound.com/royalty-free-music/track/retro-soul"]{
    color:salmon;
}

.colorportfolio {
    color:white;
    text-align: center;
    font-size: 1.2em;
}

.video1 {
    color:white;
    text-align: center;
    font-size: 1.2em;
}

#videopad {
    padding-left: 22px;
    padding-bottom: 22px;
}

#treasurebox {
    padding-left: 40px;
}

.blendertextandboat {
    padding-left: 27px;
}

.audio {
    float: left;
    width: 50%;
    padding: 10px 0px 20px 0px;
    box-sizing: border-box;
}
.audioposition {
    display: flex; 
}

.music {
    color: white;
    font-size: 5em;
}

/* Kontakt-Seite */
div ~ table, td{
    color: royalblue;
}

span::before {
    content:"Klick mich";
    margin-left: 70px;
    font-size: 0.75em;
}

table, td, tr{
    width: 50%;
    border-collapse: collapse;
    border: 2px solid lightblue;
    background: white;
    text-decoration: none;
    margin-left: 110px;
}

.formular {
    width: 590px;
    padding: 30px 50px 20px;
    margin: 20px 60px 20px 60px;
    border: none;
    background-color: rgb(157, 197, 211);
}

input {
    /* background-color:rgb(127, 157, 214); */
    width: 400px;
    padding: 10px 20px 10px 10px;
    border: 2px solid white;
    /* margin: top right bottom left  */
    /* Vorname, Nachname, E-mail */
}

.message {
    /* background-color:rgb(127, 157, 214); */
    width: 550px;
    padding: 10px 10px 50px 10px;
    border: 2px solid white;
}

#text {
    color:gray;
    margin-bottom: 40px;
}

@keyframes animation{
    0%  {background-color: lightskyblue;}
    25% {background-color: violet;}
    50% {background-color: lightgoldenrodyellow;}
    75% {background-color: lightsteelblue;}
}
#animatedbutton{
    width: 70px;
    height: 50px;
    animation-duration: 5s;
    animation-name: animation;
}
.sendbutton {
    background-color: white;
    color: rgb(157, 197, 211);
    padding: 15px 60px;
    text-decoration: none;
    font-size: 20px;
    margin: 40px 2px 30px 1px;
}

.contact {
    color:white;
    font-size: 1.5em;
}

